<h1>It appears something went wrong</h1>
<div class = "options">
	<h2>Try a different URL:</h2>
	<a href="/">Home</a>
	<h2>Listen to a great song:</h2>
	<a href="https://www.youtube.com/watch?v=t6JQp4paBAY">Song of the year 2013</a>
	<h2>Checkout my github: </h2>
	<a href="https://github.com/dgoodman1224">David Goodman's Github</a>
</div>