<div class="container">
  <h1>What RSS thing should we check?</h1>
  <form id = "input_form" action = "/results" method = "post">
    URL: <input type="text" name = "url">
    <button type= "submit"> I am an RSS Robot, Feed Me!</button>
  </form>

</div>
