<h1> Last 10 Items</h1>
	<div id = "results">
	<% @url.each do |items| %>
	<div class = "feed_item">
		<% items.each do |item|  %>
		<%= item %> <br>
			<% end %><br><br>
		</div>

	<% end %>
</div>

	<img id = "marrow" src = "public/images/bone_marrow.jpg" >
