<form class="form-inline">
	<label>Enter Feed URL
		<input class="form-control" type="text" name="feed[url]" id="url">
	</label>

	<button class="btn btn-primary">Submit</button>
</form>


<div id="entries">
	<% if (entries) { %>
		<h3>Results</h3>
		<ol>
		<% entries.forEach(function(entry, i) { %>
			<% var datetime = new Date(entry.pubDate) %>
			<li><span data-toggle="modal" data-target="#article-modal"><a href="#entry/<%= i %>"><%= entry.title %></a></span><br>
				<small>by Author on <%= datetime.toLocaleDateString() %> at 
				<%= datetime.toLocaleTimeString() %></small>
			</li>
		<% }) %>
		</ol>
	<% } %>
</div>

