<div class='post'>
  <span class='title'>Title: <%= raw @post.title %></span>
  <span class='author'>Author: <%= raw @post.author %></span>
  <span class='preview'>Preview: <%= raw @post.preview %></span>
</div>