<div class='post'>
  <div class='title'>Title: <%= raw @post.title %></div>
  <div class='author'>Author: <%= raw @post.author %></div>
  <div class='preview'>Preview: <%= raw @post.preview %></div>
</div>