<h2>RSS Reader!</h2>

<%= form_tag('/posts',:remote => true, :method => :get) do |f| %>
  <div class='input-append'>
    <%= text_field_tag 'url' %>
    <%= submit_tag 'Get posts!', :class => 'btn btn-success', :id => 'get_posts' %>
  </div>
<% end %>

<div id='rss-results'>
</div>
