<h2>RSS Reader!</h2>

<%= link_to "Extract from a new feed",new_feed_path, :class => 'btn btn-success' %>
<%= link_to "Check on an old feed",feeds_path, :class => 'btn btn-success' %>

<div id='rss-results'>
</div>
